---
layout: page
title: 블로그
description: 작은 위로의 이야기, 개발 일지, 에세이
---
{% assign blog_posts = site.posts | where_exp: "p", "p.categories contains 'blog'" %}
{% if blog_posts.size > 0 %}
<ul class="post-list">
  {% for post in blog_posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월 %-d일" }}</time>
      <h3>{{ post.title }}</h3>
      {% if post.description %}<p class="post-excerpt">{{ post.description }}</p>{% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="post-list-empty">아직 작성된 글이 없습니다.</p>
{% endif %}
